#mainWeatherDiv {
    position: absolute;
    top: 50px;
    text-align: center;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
.cityWeatherDiv {
    position: absolute;
    top: 50px;
    width: 100px;
    left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
}
.cities {
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}
#picture {
    margin-top: 130px;
}
html {
    margin: 0;
    padding: 0;
}
input {
    text-align: center;
    border: none;
    margin: none;
    padding: 5;
    outline: none;
    border-radius: 20px;
}