#mainWeatherDiv {
    width: 80%;
    display: inline-block;
}
.cityWeatherDiv {
    top: 260px;
    width: 100px;
    margin-left: -50px;
    left: 50%;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
}
.cities {
    font-family: fantasy;
}
#picture {
    margin-top: 130px;
}
html, body {
    margin: 0;
    padding: 0;
}
img {
    border-radius: 30%;
}